<ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 video list">
  <% @videos.each do |video|%>
      <li class="video">
          <div class="video-info">
            <%= link_to video.title, video %>
            <%= link_to video.contributor, video %>
            <div class="tags">
              <% video.tags.each do |tag| %>
              <span class="secondary radius label">
                <%= link_to tag, tag_videos_path(tag.name) %>
              </span>
              <% end %>
              <%= simple_format(video.summary)  %>
            </div>

          </div>
            <%= image_tag video_thumb(video.link) %>
          <% end %>
        </li>

</ul>
<% if videos.respond_to?(:current_page) %>
    <%= paginate videos, :outer_window => 2 %>
<% end %>
