<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Contributor:</strong>
  <%= @video.contributor %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @video.summary %>
</p>

<p>
  <strong>Link:</strong>
  <%= @video.link %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
