<div class="row">
  <div class="medium-9 columns">
    <h2> <%= @video.title %>
        <% if current_user %>
            <%= link_to "Edit", edit_video_path %>
        <% end %>
    </h2>
    <div class="row">
      <div class="small-9 columns">
        <span class="creator"> <%= @video.creator %></span>
      </div>

    </div>
    <p class="tags">
        <% @video.tags.each do |tag| %>
            <%= link_to tag, tag_videos_path(tag.name) %>
        <% end %>
      <%= simple_format(@video.description) %>
    </p>
  </div>
  <div class="large-10 columns">
    <%= video_embed(@video.url) %>
  </div>
</div>